.info-box  {
  background-color: $blue;
  margin-bottom: 2%;
  padding: 1em;
  width: 100%;
  position: relative;

  @include medium {
    flex: 1 0 31%;
    margin: 0 2% 2% 0;
    width: auto;

    //&:nth-child(2n+1),
    &:last-child {
      margin-right: 0;
    }
  }
}

.info-box__title {
  color: $white;
  font-family: $heading;
  text-transform: none;
  line-height: 1.2;
  font-weight: 400;
  text-align: left;
  font-size: 2.25em;
  &:after {
    border-bottom: .1em solid $white;
    display: block;
    width: 60px;
    content: "\00A0";
    height: 0.25em;
  }
}

.info-box a {
  color: $near-white;
  text-decoration: none;
  display: block;
}

.info-box a:hover {
  color: $white;
}

.info-box__text {
  color: $near-white;
}

.arrow-link {
  font-size: 2em;
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
  font-weight: 100;
}