.headline-image-wrapper {
  position: relative;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.headline-image-block-wrapper {
  position: relative;
}

.heading-2--headline-block {
  position: absolute;
  left: 50%;
  transform: TranslateX(-50%);
  top: 30%;
  font-family: $heading;
  color: $white;
  font-size: 3.25em;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
  @include medium {
    font-size: 5em;
  }
}
