.more-link {
  @include more-link;
}

%transition {
  transition: 0.3s ease-out;
}

// Drupal-specific
.align-left {
  float: left;
  margin-right: .4em;
}

.align-right {
  float: left;
  margin-left: .4em;
}
