<footer class="site-footer">
	<div class="site-footer__inner">
		<ul class="site-footer__links">
			{% for item in nav_items %}
				<li>{{ item.nav_title }}</li>
			{% endfor %}
		</ul>
		<div class="site-footer__address">
			{{ address }}
		</div>
	</div>
</footer>
